/* @author: John Lusky
   Date: 4/24/18
 */

/* ~-------------------------------------~*/
/// Imports
/* ~-------------------------------------~*/

// Functional
@import "functional/mixins";
@import "functional/fonts";
@import "functional/settings";

// Boilerplate
@import "boilerplate/normalize";
@import "boilerplate/boilerplate";

// Structural
@import "structural/grid";
@import "structural/modules";
@import "structural/sections";

/* ~-------------------------------------~*/
/// Global Vars
/* ~-------------------------------------~*/
$w: $tablet-md;

/* ~-------------------------------------~*/
/// Global Styles
/* ~-------------------------------------~*/
body {
    -webkit-font-smoothing: antialiased;
    background: $black;
    overflow-x: hidden;
    width: 100%;
    font-family: $font-primary;
    color: $dark-gray;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-weight: 700;
    color: $white;
}

h2 {
    margin: $gutter-sm 0;
}

p {
    margin: $gutter-sm 0;
    font-size: 18px;
    font-weight: 400;
    color: $white;
}

a {
    color: $color-secondary;
    text-decoration: underline;

    &:focus {
        outline: none;
    }
}

.show-for-mobile {
    display: none;

    @include smaller-than($phone-lg) {
        display: block;
    }
}

.hide-for-mobile {
    display: block;

    @include smaller-than($phone-lg) {
        display: none;
    }
}

#main-contain {
    position: relative;
    display: flex;
    width: 100%;
    margin: 0 auto;
}

#hidden-overlay-l, #hidden-overlay-r {
    position: fixed;
    width: 50%;
    height: 100vh;
    transition: width 2s ease-out;
    z-index: 1000;
    cursor: pointer;

    &:hover {
        width: 60%;
    }
}

#hidden-overlay-l {
    top: 0;
    left: 0;
}

#hidden-overlay-r {
    top: 0;
    right: 0;
}

#left-side, #right-side {
    position: relative;
    width: 50%;
    height: 100vh;
    min-height: 100vh;
    transition: width 2s ease-out;

    h1 {
        position: absolute;
        top: 50%;
        width: 100%;
        margin-top: -200px;
        font-size: 90px;
        font-weight: normal;
        color: $white;
        text-align: center;
        text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.70);
        transition: all .8s ease-out;
        z-index: 2;

        @include smaller-than($w) {
            font-size: 55px;
        }

        @include smaller-than($phone-lg) {
            font-size: 35px;
        }
    }

    .following-content {
        display: none;
        position: relative;
        max-width: $w;
        padding-top: 100px;
        padding: 100px $gutter-md;
        margin: 0px auto;
        overflow: hidden;
        z-index: 1;
        opacity: 0;
        transition: all .8s ease-out;

        img {
            display: block;
            max-width: 100%;
            margin: $gutter-md auto;
        }
    }

    &.initiated {
        background-attachment: fixed;

        h1 {
            top: 0;
            margin-top: 50px;
            font-size: 55px;
        }

        .following-content {
            opacity: 1;
        }

        .lights {
            position: fixed;
        }
    }
}

#left-side {
    background: url(../img/bg-disco.jpg) no-repeat;
    background-size: cover;
    background-position: top center;

    h1 {
        font-family: $font-disco;
    }
}

#right-side {
    position: relative;
    background: url(../img/bg-funk.jpg) no-repeat;
    background-size: cover;
    background-position: top center;
    z-index: 5;

    h1 {
        font-family: $font-funk;
    }
}

.lights {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    transition: all 2s ease-out;
}

.initial-content {
    position: relative;
    width: 100%;
    padding: $gutter-md;
    transition: all .4s ease-out;
    z-index: 2;
}

.vs {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -200px;
    width: 100%;
    font-size: 90px;
    font-weight: 700;
    color: $white;
    text-align: center;
    z-index: 10;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.70);

    @include smaller-than($w) {
        display: none;
    }
}

#introduction {
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: $w / -2;
    max-width: $w;
    max-height: 300px;
    z-index: 1001;
    overflow-y: auto;

    @include smaller-than($w) {
        left: 0;
        width: 100%;
        margin-left: 0;
    }

    .wrapping {
        padding: $gutter-md 40px;
        background-color: rgba(0, 0, 0, 0.75);
    }

    .simplebar-scrollbar {
        &:before {
            background: $white;
            border-radius: 0;
        }
    }

    h2 {
        margin-bottom: $gutter-md;
        font-size: 30px;
        line-height: 24px;

        span {
            font-size: 18px;
        }
    }

    .panel-close {
        display: block;
        position: absolute;
        right: 2px;
        top: 0px;
        width: 42px;
        height: 40px;
        padding: 6px 13px 0px;
        background-color: #808080;
        font-family: icon;
        font-size: 19px;
        font-weight: 700;
        color: $black;
        text-align: center;
        z-index: 1002;
        cursor: pointer;

        &:hover {
            background-color: $white;
        }
    }
}

.switch-sides {
    display: none;
    position: fixed;
    top: 50%;
    right: -39px;
    margin-top: -65px;
    padding: $gutter-sm $gutter-md $gutter-sm;
    z-index: 10;
    transform: rotateZ(90deg);
    text-transform: uppercase;
    font-size: 35px;
    font-family: $font-funk;
    background-color: $white;
    border: 0;

    &:hover {
        opacity: 1;
        color: $white;
        background-color: $black;
    }

    &:focus {
        outline: none;
    }

}

#go-to-left {
    right: initial;
    left: -42px;
    font-family: $font-disco;
    font-size: 30px;
}
