/// Fonts
$font-primary: 'Source Sans Pro', arial, sans-serif;
$font-secondary: arial, helvetica, sans-serif;

$font-disco: 'Monoton', cursive;
$font-funk: 'Bungee Inline', cursive;

// @font-face calls
